body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #f6f6f6;
  background-color: transparent;
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100%;
  border-radius: 8px; /* 设置圆角大小 */
  overflow: hidden;
  background-color: white; /* 设置背景颜色 */
}

#app > * {
  border-radius: 10px; /* 确保子元素也带有圆角 */
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: 250px 1fr; /* 左侧是侧边栏，右侧是内容区域 */
  height: 100%;
  border-radius: 8px;
}

.icon {
  margin-right: 10px;
}

.content {
  width: 920px;
  overflow-y: auto; /* 使内容区域可以滚动 */
  /* 为侧边栏留出空间 */
  margin: 0 auto 0 250px;
}
