body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #f6f6f6;
  background-color: #1a1b26;
  overflow-x: hidden;
}

.container {
  grid-template-columns: 250px 1fr; /* 左侧是侧边栏，右侧是内容区域 */
  height: 100%;
}

.icon {
  margin-right: 10px;
}

.content {
  overflow-y: auto; /* 使内容区域可以滚动 */
  margin-left: 250px; /* 为侧边栏留出空间 */
}
