/* Sidebar.css */
.sidebar-container {
  display: flex;
  height: 100%;
  position: fixed;
}

.sidebar {
  width: 250px;
  background-color: #121212;
  color: white;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar li.active,
.sidebar li:hover {
  background-color: #1a1b26;
}

.content {
  flex-grow: 1;
  margin-left: 250px;
}

.icon {
  margin-right: 10px;
}

.home::before {
  content: '🏠'; /* Home icon placeholder */
  font-style: normal;
}

.news::before {
  content: '📰'; /* News icon placeholder */
  font-style: normal;
}

.workshop::before {
  content: '🔧'; /* Workshop icon placeholder */
  font-style: normal;
}

.settings::before {
  content: '⚙️'; /* Settings icon placeholder */
  font-style: normal;
}

.about::before {
  content: 'ℹ️'; /* About icon placeholder */
  font-style: normal;
}

/* 添加垂直分割线样式 */
.sidebar-divider {
  width: 1px;
  background-color: #3B4045;
  height: 100%;
  margin-left: 250px;
  position: absolute;
  top: 120px;
  bottom: 0;
}

/* 侧边栏字体加粗 */
.sidebar ul li.bold {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 3px;
}
