/* TitleBar.css */
.titlebar {
    height: 30px;
    background: #121212;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: static;
}

.titlebar-button {
    display: flex; /* 使用 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 30px;
    height: 30px;
}

.titlebar-button img {
    margin: 0 5px;
}

.titlebar-button:hover {
    background: #484B4D;
}

.titlebar-button-close {
    display: flex; /* 使用 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 30px;
    height: 30px;
}

.titlebar-button-close img {
    margin: 0 5px;
}

.titlebar-button-close:hover {
    background: #FF5353;
}